.title {
	font-size: 2rem;
}

.date time {
	color: #666;
}

.article {
	overflow-x: auto;
	width: 100%;

	.content {
		padding: 2rem 0;

		h2 {
			font-size: 1.25rem;
			margin-top: 2rem;
		}

		pre {
			overflow-x: auto;
		}
	}
}
